// * Fonts

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

// * Basic

* {
   color: #fff;
   font-family: "Montserrat", sans-serif;
   font-size: 18px;
   font-weight: 300;
   line-height: 178%;
}

.container {
   max-width: 1230px;
   padding: 0 15px;
   margin: 0 auto;
}

body {
   background: #000915;
}

img {
   max-width: 100%;
}

.title {
   font-size: 48px;
   font-weight: 700;
   line-height: normal;
}

.button {
   background-color: transparent;
   border-radius: 30px;
   background: #9c0332;
   width: 234px;
   height: 48px;

   font-weight: 400;
   line-height: normal;
   transition: all .3s ease-in-out;

   &:hover {
      background: #EB443F;
   }
}

// * Scrollbar

::-webkit-scrollbar {
   width: 4px;
   height: 6px;
}

::-webkit-scrollbar-track {
   -webkit-box-shadow: -5px -5px 5px 0px rgba(0, 0, 0, 0.5) inset;
   background-color: #9c0332;
}

::-webkit-scrollbar-thumb {
   border-bottom-left-radius: 3px;
   border-bottom-right-radius: 3px;
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
   background: linear-gradient(180deg, #44d3ff00, #006384,#18214300);
}