// * Header

.header {
   background: url(../img/header/bg-header.jpg) no-repeat;
   background-position: center 20%;
   background-size: cover;
   height: 1024px;
   padding-top: 217px;

   &__title {
      font-size: 64px;
      max-width: 700px;
   }

   &__text {
      margin: 32px 0 44px;
      max-width: 480px;

      & span {
         font-weight: 700;
      }
   }
}

// * Footer

.footer {
   padding: 32.5px 0;
   border-top: 1px solid rgba(184, 212, 255, 0.2);
}

.footer__text {
   text-align: center;
   font-size: 12px;
   font-weight: 400;
   line-height: normal;
}
