// TODO Table
@media (max-width: 1024px) {
   // * Header
   .header {
      height: 735px;
      padding-top: 117px;
   }

   // * Seasons
   .seasons {
      padding: 51px 0 85px;

      &__content {
         flex-direction: column;
      }

      &__box {
         text-align: center;
         align-items: center;
      }

      &__text {
         max-width: 580px;
         font-size: 14px;
         line-height: 157%;
      }
   }

   // * Words
   .words {
      padding: 51px 0 90px;

      &__content {
         flex-direction: column-reverse;
      }

      &__box {
         text-align: center;
         align-items: center;
      }

      &__text {
         max-width: 580px;
         font-size: 14px;
         line-height: 157%;
      }
   }
}

// TODO Mobile
@media (max-width: 767px) {
   .container {
      max-width: 373px;
      padding: 0 15px;
   }

   .title {
      font-size: 32px;
   }

   .header {
      background-position: 31.5% 20%;
      text-align: center;

      &__title {
         animation: header-title 0.8s ease-in-out backwards;

         @keyframes header-title {
            0% {
               transform: translateY(-100%);
               opacity: 0;
            }

            60% {
               transform: translateY(0);
            }

            100% {
               opacity: 1;
            }
         }
      }

      &__text {
         font-size: 14px;
         margin: 32.5px 0;
         animation: header-text 0.8s ease-in-out backwards;

         & span {
            font-size: 14px;
         }

         @keyframes header-text {
            0% {
               transform: translateY(-150%);
               opacity: 0;
            }

            60% {
               transform: translateY(0);
            }

            100% {
               opacity: 1;
            }
         }
      }
   }
}
